// Color Variables

$color-purple: #A47CA6;
$color-darkgrey: #35403A;
$color-grey: #4C594F;
$color-midgrey: #A4A69C;
$color-lightgrey: #BFBFB8;
$color-white: white;

// Color Configs
// Typography Variables





// border

$border-radius:               .25rem;
$border-radius-sm:            .2rem;
$border-radius-lg:            .3rem;
$border-radius-pill:          50rem;



//INPUT


$input-focus-border-color: #A47CA6;
$input-focus-color: #35403A;
$input-focus-box-shadow: 2px 2px 2px  #A47CA6;
$input-focus-bg: #A47CA6;

