.wrapper {
  max-width: 350px;
  min-height: 500px;
  margin: 80px auto;
  padding: 40px 30px 30px 30px;
  background-color: $color-purple;
  border-radius: 0.25rem;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
  z-index: 999;

  position: fixed;
  right: 10%;
  top: 3%;

  a {
    text-decoration: none;
    font-size: 0.8rem;
    color: $color-white;

    &:hover {
      color: $color-darkgrey;
    }
  }

  .logo {
    width: 80px;
    margin: auto;

    img {
      width: 100%;
      height: 80px;
      object-fit: cover;
    }
  }

  .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.5px;
    padding-left: 10px;
    color: $color-white;
  }

  .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 0.5rem;
    box-shadow: inset 2px 2px 2px #cbced1, inset -2px -2px 2px #fff;

    input {
      width: 100%;
      display: block;
      border: none;
      outline: none;
      background: none;
      font-size: 0.8rem;
      color: $color-white;
      padding: 10px 15px 10px 10px;

      &::placeholder {
        color: $color-white;
      }
    }
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: none;
    width: 70%;
    height: 30px;
    background-color: transparent;
    color: #fff;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px $color-lightgrey, -2px -2px 2px #fff;
    letter-spacing: 1.3px;

    &:hover {
      background-color: grey;
    }
  }

  .signUp-info {
    color: $color-white;
    font-size: 0.8rem;
    padding-left: 15px;

    position: absolute;
    bottom: 5%;

    span {
      font-weight: bold;
    }
  }
}

.wrapper .form-field .fas {
  color: #555;
}

.show {
  display: none;
  transition: 800ms;
  opacity: 1;
}

.show.active {
  transform: translateY(100px) scale(0) rotateY(180deg);
  opacity: 0;
}
