.profile-container {
  width: 100%;
  margin-top: 50px;

  display: flex;
  justify-content: space-between;
  align-items: space-between;

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    // -webkit-box-shadow: 0px 0px 0px 1000px $color-purple inset !important;
    -webkit-text-fill-color: $color-darkgrey !important;
    -webkit-color: $color-purple;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    -webkit-background-clip: text;
    -webkit-background-color: transparent !important;
  }

  span {
    color: red;
    margin-left: 10px;
    font-weight: bold;
  }

  input {
    color: $color-darkgrey;
    &:focus {
      border-color: $input-focus-border-color;
      box-shadow: $input-focus-box-shadow;
      color: $input-focus-color;
    }
  }

  .button-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;

    color: $color-purple;
    background: transparent;
    border: none;

    &:hover {
      opacity: 0.5;
    }
  }

  .profile-box {
    width: 100%;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;

    .profile-head {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      h5 {
        font-weight: 600;
        margin-right: 20px;
      }
    }
  }

  .profile-container-1 {
    width: 100%;
    margin-right: 100px;
  }

  .profile-container-2 {
    width: 100%;

    img {
      width: 10em;
      height: 10em;
      border-radius: 100px;
      margin-bottom: 20px;
    }
  }
}
